body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

/* section {
  background-color: white;
} */

.hero {
  background-color: #1c1d25;
  /* background-image: url(/Users/JBMSH/repos/Brent-Sharpe/calwaen-liew-u4u8yUXkcyE-unsplash.jpg); */
  /* background-size: contain; */
  display: flex;
  /* justify-content: space-around; */
  /* background-size: 100%; */
  height: 100px
  /* color: white; */
  /* font-size: 40px; */
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 50px;
  width: 100%;
}

footer {
  background-color: #1c1d25;
  color: white;
  text-align: center;
  padding: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

ul {
  display: flex;
  list-style-type: none;
  /* width: 100%; */
  justify-content: space-around;
  font-size: 25px;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 9vw;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}

.hero-area {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1d25;
}

.hero-text {
  padding-top: 75px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

/* .button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: coral;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 10px;
  margin-top: 20px;
}

.button:hover {
  background-color: #ef744b;
}

.button:active {
  background-color: #A9A9A9;
  color: #808080;
}  */

.hidden {
  display: none;
}

.skills {
  padding-top: 75px;
  background-color: #1c1d25;
  display: flex;
  /* margin-bottom: 200px; */
  /* height: 400px;
  width: 400px; */
  /* height: 100%; */
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

/* .btn-my-skills {
  grid-column: 2;
  color: white;
  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: coral;
  text-align: center;
  font-size: 30px;
  font-weight: 300; 
  padding-top: 10px;
  margin-top: 20px;
  margin-right: 50px;
} */

/* .btn-my-skills:hover {
  cursor: pointer;
  background-color: #ef744b;
} */

.logo {
  height: 80px;
  padding: 15px;
}

.skill {
  /* margin: 50px; */
  justify-content: center;
  gap: 100px;
}

.skill-icon {
  height: 75px;
  width: 75px;
}

.information {
  width: 650px;
}

.sub-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 80px;
  background-color: whitesmoke;
}

.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}

.headshot {
  width: 300px;
}

.headshot-container {
  display: flex;
  align-items: center;
}

.project-card {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  margin: 10px;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
  .project-container {
      display: flex;
      flex-wrap: wrap;
  }
}

.project-image {
  margin-top: 25px;
  width: 250px;
  height: 150px;
  border-radius: 125px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: #ef744b;
}

a {
  text-decoration: none;
  color: white;
}

.three {
  border: rgb(29, 29, 111) solid 1px;
}

/* .hamburger {
  display: none;
}

.hamburger:focus{
  outline: 0;
} */


@media only screen and (max-width: 1000px) {
  /* .hamburger {
      display: block;
      border: 0;
      /* background-color: transparent;
      color: white;
      font-size: 30px;
      margin: 20px;
      align-self: flex-end;
  } */

  ul {
      /* display: none; */
      /* background-color: #2b2c38; */
      /* margin: 0ppx; */
  }

  /* ul.show {
      display: block;
  } */

  /* nav {
      display: flex;
      flex-direction: column-reverse;
      /* background-color: #2b2c38;
  } */

  /* .logo {
      display: none;
  } */
}



.icon-1 {
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
  -o-animation: fadeIn 4s;
  -ms-animation: fadeIn 4s;
}

.icon-2 {
  animation: fadeIn 6s;
  -webkit-animation: fadeIn 6s;
  -moz-animation: fadeIn 6s;
  -o-animation: fadeIn 6s;
  -ms-animation: fadeIn 6s;
}

.icon-3 {
  animation: fadeIn 8s;
  -webkit-animation: fadeIn 8s;
  -moz-animation: fadeIn 8s;
  -o-animation: fadeIn 8s;
  -ms-animation: fadeIn 8s;
}

.icon-4 {
  animation: fadeIn 10s;
  -webkit-animation: fadeIn 10s;
  -moz-animation: fadeIn 10s;
  -o-animation: fadeIn 10s;
  -ms-animation: fadeIn 10s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

